In [2]:
import pandas as pd
import numpy as np
import string

## pandas之Series创建

 series:序列的意思  一维的数组

In [4]:
t = pd.Series(np.arange(10),index=list(string.ascii_uppercase[:10]))
# 第一列就是index

In [5]:
t

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int32

## pandas之Series切片和索引

In [4]:
t[2:10:2]

C    2
E    4
G    6
I    8
dtype: int32

In [5]:
t[1]

1

In [7]:
t[[2,3,6]]

C    2
D    3
G    6
dtype: int32

In [8]:
t[t>4]

F    5
G    6
H    7
I    8
J    9
dtype: int32

In [10]:
t[["A","F","g"]]

A    0.0
F    5.0
g    NaN
dtype: float64

## pandas之Series的索引和值

In [12]:
t.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [13]:
t.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
t.dtype

dtype('int32')

In [15]:
type(t)

pandas.core.series.Series

In [18]:
t

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int32

In [17]:
t.where(t>5,1)

A    1
B    1
C    1
D    1
E    1
F    1
G    6
H    7
I    8
J    9
dtype: int32

## pandas之读取外部数据

### 读取csv

In [21]:
import pandas as pd

#pandas读取csv中的文件
df = pd.read_csv("./dogNames2.csv")
df[(800<df["Count_AnimalName"])&(df["Count_AnimalName"]<1000)]

      Row_Labels  Count_AnimalName
2660     CHARLIE               856
3251        COCO               852
12368      ROCKY               823

### 读取Mongodb数据

In [33]:
from pymongo import MongoClient
import pandas as pd


client = MongoClient()
collection = client["lagou"]["python_position"]
data = collection.find()
def read_data(data):
    data_list = []
    for i in data:
        temp = {}
        temp["positionName"]= i["positionName"]
        temp["city"] = i["city"]
        temp["salary"] = i["salary"]
        temp["companyFullName"] = i["companyFullName"]
        data_list.append(temp)
    return data_list

In [1]:
# t1 = data[0]
# t1 = pd.Series(t1)
# print(t1)
# data_list = read_data(data)
# data_list

## pandas之DataFrame

In [35]:
t = pd.DataFrame(np.arange(12).reshape((3,4)))

In [37]:
t.index,t.columns

(RangeIndex(start=0, stop=3, step=1), RangeIndex(start=0, stop=4, step=1))

In [38]:
t1 = pd.DataFrame(np.arange(12).reshape((3,4)),index=list(string.ascii_uppercase[:3]),
                 columns=list(string.ascii_uppercase[-4:]))

In [39]:
t1

   W  X   Y   Z
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

###  DataFrame和Series有什么关系呢？

### DataFrame数据基本信息的查询

In [41]:
df = pd.DataFrame(data_list)
# print(df)
df.head()

  city companyFullName   positionName   salary
0   北京       人人行科技有限公司       python开发  15k-20k
1   北京     北京磁力信科技有限公司    Python开发工程师  12k-24k
2   武汉   武汉佰钧成技术有限责任公司  python软件开发工程师   6k-12k
3   上海    上海彩亿信息技术有限公司       Python开发  14k-25k
4   上海    上海魔芋网络科技有限公司    python开发工程师  15k-25k

In [47]:
df.shape,df.dtypes,df.ndim,df.index,df.columns,df.values

((1849, 4), city               object
 companyFullName    object
 positionName       object
 salary             object
 dtype: object, 2, RangeIndex(start=0, stop=1849, step=1), Index(['city', 'companyFullName', 'positionName', 'salary'], dtype='object'), array([['北京', '人人行科技有限公司', 'python开发', '15k-20k'],
        ['北京', '北京磁力信科技有限公司', 'Python开发工程师', '12k-24k'],
        ['武汉', '武汉佰钧成技术有限责任公司', 'python软件开发工程师', '6k-12k'],
        ...,
        ['北京', '北京欧特欧国际咨询有限公司', '高级python（爬虫方向）', '18k-32k'],
        ['深圳', '深圳市云之梦科技有限公司', '后台开发工程师（C++,PYTHON,GO）', '10k-15k'],
        ['深圳', '深圳市观麦网络科技有限公司', 'python后台开发工程师', '10k-18k']], dtype=object))

In [30]:
#显示头几行
print(df.head())
# print("*"*100)
# print(df.tail(2))

#展示df的概览
# print(df.info())
# print(df.describe())

  city companyFullName   positionName   salary
0   北京       人人行科技有限公司       python开发  15k-20k
1   北京     北京磁力信科技有限公司    Python开发工程师  12k-24k
2   武汉   武汉佰钧成技术有限责任公司  python软件开发工程师   6k-12k
3   上海    上海彩亿信息技术有限公司       Python开发  14k-25k
4   上海    上海魔芋网络科技有限公司    python开发工程师  15k-25k

In [31]:
# 一种更简便的读取mongo数据的方法
df1 = pd.DataFrame(list(collection.find()))
print(df1.head())

                        _id city companyFullName  companyId createTime  \
0  5b1ff488ecde2d53761a6b2f   北京       人人行科技有限公司      61921   昨天 10:20
1  5b1ff488ecde2d53761a6b31   北京     北京磁力信科技有限公司     145485   昨天 16:00
2  5b1ff488ecde2d53761a6b33   武汉   武汉佰钧成技术有限责任公司      16831   昨天 17:02
3  5b1ff488ecde2d53761a6b35   上海    上海彩亿信息技术有限公司       1738   昨天 11:39
4  5b1ff488ecde2d53761a6b37   上海    上海魔芋网络科技有限公司      45527   昨天 10:01

   positionId   positionName   salary
0     4593934       python开发  15k-20k
1     4613250    Python开发工程师  12k-24k
2     4715093  python软件开发工程师   6k-12k
3     4711628       Python开发  14k-25k
4     4337571    python开发工程师  15k-25k

### DataFrame之排序

In [53]:
df1 = pd.DataFrame(np.random.randn(4,5))
print(df1)
df2 = df1.sort_values(by=[1])
print(df2)

          0         1         2         3         4
0  0.975777  0.726605  0.017394 -0.641456  0.620209
1  0.087053  0.175404 -2.113655 -0.414275  0.136903
2 -1.042724 -1.043409 -1.513828  0.338106  0.086272
3  0.484030  0.896915  0.017717  1.120482  0.871907
          0         1         2         3         4
2 -1.042724 -1.043409 -1.513828  0.338106  0.086272
1  0.087053  0.175404 -2.113655 -0.414275  0.136903
0  0.975777  0.726605  0.017394 -0.641456  0.620209
3  0.484030  0.896915  0.017717  1.120482  0.871907

In [55]:
# coding=utf-8
import pandas as pd
import numpy as np

df = pd.read_csv("./dogNames2.csv")
# print(df.head())
# print(df.info())

#dataFrame中排序的方法
df = df.sort_values(by="Count_AnimalName",ascending=False)
# print(df.head(5))
df.head()

      Row_Labels  Count_AnimalName
1156       BELLA              1195
9140         MAX              1153
2660     CHARLIE               856
3251        COCO               852
12368      ROCKY               823

### pandas之取行或者列
刚刚我们知道了如何给数据按照某一行或者列排序，那么现在我们想单独研究使用次数前100的数据，应该如何做？  

df_sorted = df.sort_values(by="Count_AnimalName")
df_sorted[:100]


那么问题来了：
我们具体要选择某一列该怎么选择呢？df[" Count_AnimalName "]  

我们要同时选择行和列该怎么办？df[:100][" Count_AnimalName "]

In [56]:
#pandas取行或者列的注意点
# - 方括号写数组,表示取行,对行进行操作
# - 写字符串,表示的去列索引,对列进行操作
print(df[:20])
print(df["Row_Labels"])
print(type(df["Row_Labels"]))

      Row_Labels  Count_AnimalName
1156       BELLA              1195
9140         MAX              1153
2660     CHARLIE               856
3251        COCO               852
12368      ROCKY               823
8417        LOLA               795
8552       LUCKY               723
8560        LUCY               710
2032       BUDDY               677
3641       DAISY               649
11703   PRINCESS               603
829       BAILEY               532
9766       MOLLY               519
14466      TEDDY               485
2913       CHLOE               465
14779       TOBY               446
8620        LUNA               432
6515        JACK               425
8788      MAGGIE               393
13762     SOPHIE               383
1156              BELLA
9140                MAX
2660            CHARLIE
3251               COCO
12368             ROCKY
8417               LOLA
8552              LUCKY
8560               LUCY
2032              BUDDY
3641              DAISY
11703          PRINCESS
829              BAILEY
9766              MOLLY
14466             TEDDY
2913              CHLOE
14779              TOBY
8620               LUNA
6515               JACK
8788             MAGGIE
13762            SOPHIE
10750              OREO
8296               LILY
10696            OLIVER
9552               MILO
5531              GIZMO
7945               LADY
5468             GINGER
9425                MIA
11155             PENNY
12548              RUBY
              ...
6927               JOIA
6932               JOKO
6933              JOLEE
6934             JOLENA
6938              JOLIN
6940               JOLT
6898            JOCELYN
6896     JOBIE-EINSTEIN
6862              JINJU
6892                JOB
6863            JINKIES
6864            JINKINS
6865              JINKX
6867              JINPA
6868            JINSOON
6871             JIONNI
6873               JITS
6874          JITTERBUG
6876              JIVAN
6877              JIZMO
6879          JJ/DORJAY
6880                JJU
6881             JJUJJU
6882            JJYODAA
6883                J-K
6884               J-LO
6888              JOANN
6890               JOAO
6891            JOAQUIN
16219             39743
Name: Row_Labels, Length: 16220, dtype: object
<class 'pandas.core.series.Series'>

### 有没有其他的定位方法？