# 数据拼接 concat

In [1]:
import numpy as np
import pandas as pd

* NumPy的concat

In [2]:
arr1 = np.random.randint(0, 10, (3, 4))
arr2 = np.random.randint(0, 10, (3, 4))

print(arr1)
print(arr2)

[[3 8 6 0]
 [4 2 1 5]
 [8 4 7 4]]
[[9 6 6 1]
 [3 6 1 7]
 [2 1 1 3]]

In [5]:
# 默认的是上下拼接
np.concatenate([arr1, arr2])

array([[3, 8, 6, 0],
       [4, 2, 1, 5],
       [8, 4, 7, 4],
       [9, 6, 6, 1],
       [3, 6, 1, 7],
       [2, 1, 1, 3]])

In [6]:
np.concatenate([arr1, arr2], axis=1)

array([[3, 8, 6, 0, 9, 6, 6, 1],
       [4, 2, 1, 5, 3, 6, 1, 7],
       [8, 4, 7, 4, 2, 1, 1, 3]])

* Series上的concat

In [7]:
# index 没有重复的情况
ser1 = pd.Series(np.random.randint(0, 10, 5), index=range(0,5))
ser2 = pd.Series(np.random.randint(0, 10, 4), index=range(5,9))
ser3 = pd.Series(np.random.randint(0, 10, 3), index=range(9,12))

print(ser1)
print(ser2)
print(ser3)

0    8
1    8
2    7
3    3
4    5
dtype: int32
5    0
6    6
7    4
8    2
dtype: int32
9     2
10    6
11    1
dtype: int32

In [8]:
pd.concat([ser1, ser2, ser3])

0     8
1     8
2     7
3     3
4     5
5     0
6     6
7     4
8     2
9     2
10    6
11    1
dtype: int32

In [9]:
pd.concat([ser1, ser2, ser3], axis=1)

      0    1    2
0   8.0  NaN  NaN
1   8.0  NaN  NaN
2   7.0  NaN  NaN
3   3.0  NaN  NaN
4   5.0  NaN  NaN
5   NaN  0.0  NaN
6   NaN  6.0  NaN
7   NaN  4.0  NaN
8   NaN  2.0  NaN
9   NaN  NaN  2.0
10  NaN  NaN  6.0
11  NaN  NaN  1.0

In [10]:
# index 有重复的情况
ser1 = pd.Series(np.random.randint(0, 10, 5), index=range(5))
ser2 = pd.Series(np.random.randint(0, 10, 4), index=range(4))
ser3 = pd.Series(np.random.randint(0, 10, 3), index=range(3))

print(ser1)
print(ser2)
print(ser3)

0    9
1    0
2    6
3    1
4    3
dtype: int32
0    9
1    0
2    7
3    5
dtype: int32
0    7
1    5
2    9
dtype: int32

In [12]:
# 上下拼接可以无视索引
pd.concat([ser1, ser2, ser3])

0    9
1    0
2    6
3    1
4    3
0    9
1    0
2    7
3    5
0    7
1    5
2    9
dtype: int32

In [12]:
pd.concat([ser1, ser2, ser3], axis=1)

   0    1    2
0  5  5.0  5.0
1  0  4.0  8.0
2  6  9.0  0.0
3  1  6.0  NaN
4  6  NaN  NaN

In [14]:
pd.concat([ser1, ser2, ser3], axis=1, join='outer')

   0    1    2
0  9  9.0  7.0
1  0  0.0  5.0
2  6  7.0  9.0
3  1  5.0  NaN
4  3  NaN  NaN

* DataFrame上的concat

In [15]:
df1 = pd.DataFrame(np.random.randint(0, 10, (3, 2)), index=['a', 'b', 'c'],
                       columns=['A', 'B'])
df2 = pd.DataFrame(np.random.randint(0, 10, (2, 2)), index=['a', 'b'],
                       columns=['C', 'D'])
print(df1)
print(df2)

   A  B
a  6  0
b  2  6
c  9  8
   C  D
a  9  7
b  6  9

In [16]:
pd.concat([df1, df2])

     A    B    C    D
a  6.0  0.0  NaN  NaN
b  2.0  6.0  NaN  NaN
c  9.0  8.0  NaN  NaN
a  NaN  NaN  9.0  7.0
b  NaN  NaN  6.0  9.0

In [18]:
pd.concat([df1, df2], axis=1)

   A  B    C    D
a  6  0  9.0  7.0
b  2  6  6.0  9.0
c  9  8  NaN  NaN